<h1>Hello, Ruby on Rails</h1>
<p>
This is going to be a website for displaying articles. Later on i will also enable leaving comments on each articles by authenticated users.
</p>

<!-- link to the default action of the articles controller, which is the index action -->
<%= link_to 'Visit my blog', controller: 'articles' %>

